services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/logs:/var/log/nginx
    depends_on:
      - frontend
      - backend
    networks:
      - app-net

  frontend:
    image: ghcr.io/low-blow/contentboxes-frontend:latest
    container_name: frontend
    restart: always
    expose:
      - "3000"
    networks:
      - app-net

  backend:
    image: ghcr.io/low-blow/contentboxes-backend:latest
    container_name: backend
    env_file:
      - .env
    restart: always
    expose:
      - "8080"
    networks:
      - app-net
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    container_name: postgres
    env_file:
      - .env
    restart: always
    expose:
      - "5432"
    volumes:
      - type: volume
        source: postgres_data
        target: /var/lib/postgresql/data
    profiles:
      - ''
      - dependencies
      - postgres
    healthcheck:
      test: ['CMD', 'sh', '-c', 'pg_isready -d $$POSTGRES_DATABASE -U $$POSTGRES_USER']
      interval: 5s
      timeout: 5s
      start_period: 30s
      retries: 3
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  postgres_data: